.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  align-content: flex-start;
  align-items: flex-start;
}

.App-search {
  display: flex;
  justify-content: space-evenly;
}

